.mp3player figure {
    width: 200px;
    background-color: black;
    color: white;
}

.mp3player figure .trackname,
.mp3player figure .trackimage {
    text-align: center;
}

.mp3player figure figcaption .time,
.mp3player figure .controls {
    padding-left: 15px;
}

.mp3player .progress {
    width: 90%;
    margin-left: 5%;
    background-color: white;
}

.mp3player .progress .loading {
    height: 100%;
}

.playbacktime {
    text-align: right;
    position: absolute;
    margin-left: 8%;
    margin-top: -20px;
    cursor: default;
}

.volume_control input[type="range"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical;
}